flows.local.json
[{"id":"1710a13e.24be0f","type":"tab","label":"START","disabled":false,"info":""},{"id":"b5c91dfd.5442f","type":"tab","label":"ONBOARDING","disabled":false,"info":""},{"id":"e6eb5d0f.a5faf","type":"tab","label":"MAIN MENU","disabled":false,"info":""},{"id":"4ebce18b.d28be","type":"tab","label":"POPULAR","disabled":false,"info":""},{"id":"aa705505.e4b1e8","type":"tab","label":"TOP_RETED","disabled":false,"info":""},{"id":"b3c092ec.f386c","type":"tab","label":"NOW_PLAYING","disabled":false,"info":""},{"id":"9b0ebb1.f61dc48","type":"tab","label":"PROFIL","disabled":false,"info":""},{"id":"6e4c635c.e9a3cc","type":"subflow","name":"BD Mongo","info":"","category":"","in":[{"x":320,"y":240,"wires":[{"id":"eca77b34.7ed2a8"}]}],"out":[{"x":1220,"y":220,"wires":[{"id":"599d4ef2.5ef4a","port":0},{"id":"2696d184.602f2e","port":0},{"id":"2e35eea3.4e66c2","port":0},{"id":"edfbe89a.afcaa8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"26039c45.5709e4","type":"mongodb3","z":"6e4c635c.e9a3cc","uri":"mongodb+srv://filmoteka:OvZQe1DJ0Sw24O1d@cluster0.ybwuc.mongodb.net/films_bd","name":"films","options":"","parallelism":"-1"},{"id":"1dcca23.b38bf5e","type":"function","z":"1710a13e.24be0f","name":"Send message","func":"msg.fbToken = \"EAADABZBqmUFsBAGdZCy6z2G0QubZC2sKAR68aXX4wOTBKVboaVj5G07G2GMuUlmR01TxwDbaKXEYLH9dKZAJ244juZBMpdKhAfHYufsWfyrTgEm6V3kbRk3UcIOYurHH9OuJISZBZA4CeE7fZCskXjoCMFcJMZAuliSFpZAe4jvYFcpAZDZD\"\nmsg.url = \"https://graph.facebook.com/v9.0/me/messages?access_token=\" + msg.fbToken\n// msg.url = \"https://graph.facebook.com/v9.0/me/messaging_postbacks?access_token=\" + msg.fbToken\nmsg.method = \"POST\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":60,"wires":[["60480cbc.da8904"]]},{"id":"c68c1a52.3896c8","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":20,"wires":[]},{"id":"1946a459.12c13c","type":"http in","z":"1710a13e.24be0f","name":"Messenger Verification Webhook","url":"/filmoteka","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["c68c1a52.3896c8","fd649286.0a99"]]},{"id":"fd649286.0a99","type":"function","z":"1710a13e.24be0f","name":"Subscribe","func":"let mode = '';\nlet VERIFY_TOKEN = \"filmoteka_token\"\nlet challenge = '';\nif (msg.payload['hub.mode']) \n{\n    mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token']) \n{\n    vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge']) \n{\n    challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode && VERIFY_TOKEN) {\n    msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["a0f4944b.222f18"]]},{"id":"a0f4944b.222f18","type":"http response","z":"1710a13e.24be0f","name":"","statusCode":"200","headers":{},"x":560,"y":80,"wires":[]},{"id":"c5535df2.52373","type":"http in","z":"1710a13e.24be0f","name":"Messenger Chat Listener","url":"/filmoteka","method":"post","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["cc0e191e.218f48","1fcd737b.aeb4cd","23741206.89a9be"]]},{"id":"1fcd737b.aeb4cd","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":170,"y":460,"wires":[]},{"id":"cc0e191e.218f48","type":"http response","z":"1710a13e.24be0f","name":"","statusCode":"200","headers":{},"x":200,"y":420,"wires":[]},{"id":"60480cbc.da8904","type":"http request","z":"1710a13e.24be0f","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":60,"wires":[["3bfe5382.4247fc"]]},{"id":"3bfe5382.4247fc","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":60,"wires":[]},{"id":"23741206.89a9be","type":"change","z":"1710a13e.24be0f","name":"","rules":[{"t":"set","p":"recipient","pt":"msg","to":"payload.entry[0].messaging[0].sender.id","tot":"msg"},{"t":"set","p":"reply","pt":"msg","to":"payload.entry[0].messaging[0].message.quick_reply.payload","tot":"msg"},{"t":"set","p":"postback","pt":"msg","to":"payload.entry[0].messaging[0].postback.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["307edcfa.256f94","672826ff.620a38"]]},{"id":"f223bc38.1c8fb","type":"link in","z":"1710a13e.24be0f","name":"send_message","links":["5f4a80a3.ed3b8","8e7cf187.ffec8","b6d714f9.f10528","c20186f6.1a9058","cd5ab50d.3ffc58","84157aa0.7607a8","f090c164.ddb8f","cb5e00e6.7a992","bad6bf4f.51918","7f615395.5b175c","5483a43f.9cfadc","7b11c274.fd5c2c","9f976cf1.78a55","70d3189e.b78388","9cd64418.d91d08","41868697.9233c8","d661e52b.b4c188","823053f7.c55e9","47a23282.7cb1bc","780ad033.80c8d"],"x":815,"y":60,"wires":[["1dcca23.b38bf5e"]]},{"id":"307edcfa.256f94","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"672826ff.620a38","type":"switch","z":"1710a13e.24be0f","name":"","property":"payload.object","propertyType":"msg","rules":[{"t":"eq","v":"page","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":340,"wires":[["f85b81fd.0892b"],[]]},{"id":"f85b81fd.0892b","type":"switch","z":"1710a13e.24be0f","name":"","property":"reply","propertyType":"msg","rules":[{"t":"eq","v":"popular","vt":"str"},{"t":"eq","v":"top_rated","vt":"str"},{"t":"eq","v":"now_playing","vt":"str"},{"t":"eq","v":"profil","vt":"str"},{"t":"eq","v":"bakProfil","vt":"str"},{"t":"cont","v":"nextPopular","vt":"str"},{"t":"cont","v":"nextTopRated","vt":"str"},{"t":"cont","v":"nextNowPlaying","vt":"str"},{"t":"eq","v":"mainMenu","vt":"str"},{"t":"eq","v":"goRevised","vt":"str"},{"t":"eq","v":"goLook","vt":"str"},{"t":"cont","v":"nextRevised","vt":"str"},{"t":"cont","v":"prewRevised","vt":"str"},{"t":"cont","v":"nextLook","vt":"str"},{"t":"cont","v":"prewLook","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":16,"x":910,"y":340,"wires":[["59792454.3b952c"],["317b9c22.8f3a74"],["fa674dee.f2296"],["3215ee90.6bcba2"],["3215ee90.6bcba2"],["ecb302af.a41c"],["14266bb.1ff5794"],["8bd63488.f27d88"],["594a74c1.a7d56c"],["b60c4c35.5918b"],["9060d750.5e7618"],["fe52b374.49a65"],["e3d37844.0229c8"],["5807961a.c7dc38"],["420c234b.f06a0c"],["4411056a.70d24c"]]},{"id":"bb059c66.0590f","type":"function","z":"e6eb5d0f.a5faf","name":"mainMenu","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Привіт друже!😀 Цей бот допоможе тобі вибрати фільм🎬 Тут зібрана база всіх новинок і не тільки😉 Тому скоріше переходь до вибору фільмів😜\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Мій кабінет 🎬\",\n            \"payload\":\"profil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":220,"wires":[["cd5ab50d.3ffc58","441c3a7b.620344"]]},{"id":"cd5ab50d.3ffc58","type":"link out","z":"e6eb5d0f.a5faf","name":"send_message","links":["f223bc38.1c8fb"],"x":395,"y":180,"wires":[]},{"id":"73008930.f3bf58","type":"link in","z":"e6eb5d0f.a5faf","name":"mainMenu","links":["594a74c1.a7d56c","4769cb9e.9548d4","c1b0af96.113c2","5d498699.3108d8","d6f044af.6cea68","96826726.f9f658"],"x":115,"y":220,"wires":[["bb059c66.0590f"]]},{"id":"594a74c1.a7d56c","type":"link out","z":"1710a13e.24be0f","name":"mainMenu","links":["73008930.f3bf58","640ead20.3f7794"],"x":1115,"y":420,"wires":[]},{"id":"c480d56c.07c018","type":"link in","z":"b3c092ec.f386c","name":"now_playing","links":["fa674dee.f2296"],"x":215,"y":240,"wires":[["d58900de.feb9e"]]},{"id":"fa674dee.f2296","type":"link out","z":"1710a13e.24be0f","name":"now_playing","links":["c480d56c.07c018"],"x":1115,"y":220,"wires":[]},{"id":"317b9c22.8f3a74","type":"link out","z":"1710a13e.24be0f","name":"top","links":["c94d4650.4904f8","3758799d.9aa596"],"x":1115,"y":180,"wires":[]},{"id":"1b06cfb1.87d9c","type":"function","z":"4ebce18b.d28be","name":"GET Popular_films API","func":"msg.apiKey = \"0706e3f4bbf4b68e2b9170ad810a2feb\"\nlet lang = 'uk-UA'\nlet page = 1;\nlet number = Number(msg.reply.slice(-1))\nmsg.console = msg.reply.slice(0, -1)\nif(msg.reply.slice(0, -1) == \"nextPopular\"){\n    page = number+1;\n}\nmsg.url = `https://api.themoviedb.org/3/movie/popular?api_key=${msg.apiKey}&language=${lang}&page=${page}`\nmsg.method = \"GET\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["4fb4a68f.386008"]]},{"id":"4fb4a68f.386008","type":"http request","z":"4ebce18b.d28be","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":180,"wires":[["a803d7ef.e85838","de1fda72.c20a28"]]},{"id":"a803d7ef.e85838","type":"function","z":"4ebce18b.d28be","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.arr = msg.popular.results\nmsg.lengt = msg.arr.length\n\nif(msg.arr.length > 10){\n    // msg.rep = [\n    //     {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Головне меню\",\n    //     \"payload\":\"mainMenu\"\n    //   },\n    //   {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Наступні\",\n    //     \"payload\":\"nextPopular\"\n    //   },\n    //   ]\n    msg.arr.length = 10\n}\n\nmsg.element = msg.arr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },{\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\": `w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n    ]\n    // \"quick_replies\":msg.rep\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["cb5e00e6.7a992"]]},{"id":"cb5e00e6.7a992","type":"link out","z":"4ebce18b.d28be","name":"","links":["f223bc38.1c8fb"],"x":895,"y":160,"wires":[]},{"id":"d8492c88.cf1f","type":"link in","z":"4ebce18b.d28be","name":"popular","links":["59792454.3b952c"],"x":175,"y":180,"wires":[["1b06cfb1.87d9c"]]},{"id":"59792454.3b952c","type":"link out","z":"1710a13e.24be0f","name":"popular","links":["d8492c88.cf1f"],"x":1115,"y":140,"wires":[]},{"id":"eca77b34.7ed2a8","type":"switch","z":"6e4c635c.e9a3cc","name":"insert, update, find, del","property":"switch_type","propertyType":"msg","rules":[{"t":"eq","v":"insert","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"find","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":240,"wires":[["599d4ef2.5ef4a"],["2696d184.602f2e"],["2e35eea3.4e66c2"],["edfbe89a.afcaa8"]]},{"id":"599d4ef2.5ef4a","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"insert","x":770,"y":160,"wires":[[]]},{"id":"2696d184.602f2e","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOneAndUpdate","x":810,"y":200,"wires":[[]]},{"id":"2e35eea3.4e66c2","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOne","x":770,"y":240,"wires":[[]]},{"id":"edfbe89a.afcaa8","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOneAndDelete","x":810,"y":280,"wires":[[]]},{"id":"ecb302af.a41c","type":"link out","z":"1710a13e.24be0f","name":"nextPopular","links":["d3c703d2.61876"],"x":1115,"y":300,"wires":[]},{"id":"d3c703d2.61876","type":"link in","z":"4ebce18b.d28be","name":"nextPopular","links":["ecb302af.a41c"],"x":175,"y":280,"wires":[["1b06cfb1.87d9c"]]},{"id":"746ca9ae.22d948","type":"function","z":"4ebce18b.d28be","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.page = msg.popular.page\nmsg.arr2 = msg.popular.results\nmsg.nextFilms = msg.arr2.slice(10)\n\nmsg.element = msg.nextFilms.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\":`w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ➡\",\n        \"payload\":`nextPopular${msg.page}`\n      },\n      ]\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":240,"wires":[["cb5e00e6.7a992"]]},{"id":"de1fda72.c20a28","type":"delay","z":"4ebce18b.d28be","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":240,"wires":[["746ca9ae.22d948"]]},{"id":"e7c59b03.371108","type":"function","z":"aa705505.e4b1e8","name":"GET Top_rated_films API","func":"msg.apiKey = \"0706e3f4bbf4b68e2b9170ad810a2feb\"\nlet lang = 'uk-UA'\nlet page = 1;\nlet number = Number(msg.reply.slice(-1))\nmsg.console = msg.reply.slice(0, -1)\nif(msg.reply.slice(0, -1) == \"nextTopRated\"){\n    page = number+1;\n}\nmsg.url = `https://api.themoviedb.org/3/movie/top_rated?api_key=${msg.apiKey}&language=${lang}&page=${page}`\nmsg.method = \"GET\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["692db02c.4efaf"]]},{"id":"692db02c.4efaf","type":"http request","z":"aa705505.e4b1e8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":300,"wires":[["f69d74f0.f393e8","870743fc.e9b31"]]},{"id":"f69d74f0.f393e8","type":"function","z":"aa705505.e4b1e8","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.arr = msg.popular.results\nmsg.lengt = msg.arr.length\n\nif(msg.arr.length > 10){\n    // msg.rep = [\n    //     {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Головне меню\",\n    //     \"payload\":\"mainMenu\"\n    //   },\n    //   {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Наступні\",\n    //     \"payload\":\"nextPopular\"\n    //   },\n    //   ]\n    msg.arr.length = 10\n}\n\nmsg.element = msg.arr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },{\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\":`w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }         \n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n    ]\n    // \"quick_replies\":msg.rep\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":300,"wires":[["bad6bf4f.51918"]]},{"id":"bad6bf4f.51918","type":"link out","z":"aa705505.e4b1e8","name":"","links":["f223bc38.1c8fb"],"x":935,"y":280,"wires":[]},{"id":"5227e3a1.61a96c","type":"link in","z":"aa705505.e4b1e8","name":"nextTopRated","links":["14266bb.1ff5794"],"x":215,"y":400,"wires":[["e7c59b03.371108"]]},{"id":"1f783457.123f4c","type":"function","z":"aa705505.e4b1e8","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.page = msg.popular.page\nmsg.arr2 = msg.popular.results\nmsg.nextFilms = msg.arr2.slice(10)\n\nmsg.element = msg.nextFilms.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },{\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\":`w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }                \n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ➡\",\n        \"payload\":`nextTopRated${msg.page}`\n      },\n      ]\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["bad6bf4f.51918"]]},{"id":"870743fc.e9b31","type":"delay","z":"aa705505.e4b1e8","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":360,"wires":[["1f783457.123f4c"]]},{"id":"14266bb.1ff5794","type":"link out","z":"1710a13e.24be0f","name":"nextTopRated","links":["5227e3a1.61a96c","38a8f572.6e5a8a"],"x":1115,"y":340,"wires":[]},{"id":"c94d4650.4904f8","type":"link in","z":"aa705505.e4b1e8","name":"top","links":["317b9c22.8f3a74"],"x":215,"y":300,"wires":[["e7c59b03.371108"]]},{"id":"d58900de.feb9e","type":"function","z":"b3c092ec.f386c","name":"GET Now_playing_films API","func":"msg.apiKey = \"0706e3f4bbf4b68e2b9170ad810a2feb\"\nlet lang = 'uk-UA'\nlet page = 1;\nlet number = Number(msg.reply.slice(-1))\nmsg.console = msg.reply.slice(0, -1)\nif(msg.reply.slice(0, -1) == \"nextNowPlaying\"){\n    page = number+1;\n}\nmsg.url = `https://api.themoviedb.org/3/movie/now_playing?api_key=${msg.apiKey}&language=${lang}&page=${page}`\nmsg.method = \"GET\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["be3c678b.674f38"]]},{"id":"be3c678b.674f38","type":"http request","z":"b3c092ec.f386c","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":240,"wires":[["b3052c1.fed06d","5e9faa76.3f6bf4"]]},{"id":"b3052c1.fed06d","type":"function","z":"b3c092ec.f386c","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.arr = msg.popular.results\nmsg.lengt = msg.arr.length\n\nif(msg.arr.length > 10){\n    // msg.rep = [\n    //     {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Головне меню\",\n    //     \"payload\":\"mainMenu\"\n    //   },\n    //   {\n    //     \"content_type\":\"text\",\n    //     \"title\":\"Наступні\",\n    //     \"payload\":\"nextPopular\"\n    //   },\n    //   ]\n    msg.arr.length = 10\n}\n\nmsg.element = msg.arr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },{\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\":`w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }                 \n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n    ]\n    // \"quick_replies\":msg.rep\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":240,"wires":[["7f615395.5b175c"]]},{"id":"7f615395.5b175c","type":"link out","z":"b3c092ec.f386c","name":"","links":["f223bc38.1c8fb"],"x":975,"y":220,"wires":[]},{"id":"b30c358f.071198","type":"link in","z":"b3c092ec.f386c","name":"nextNowPlaying","links":["8bd63488.f27d88"],"x":215,"y":340,"wires":[["d58900de.feb9e"]]},{"id":"5e9faa76.3f6bf4","type":"delay","z":"b3c092ec.f386c","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":300,"wires":[["afba69af.096e68"]]},{"id":"8bd63488.f27d88","type":"link out","z":"1710a13e.24be0f","name":"nextNowPlaying","links":["b30c358f.071198"],"x":1115,"y":380,"wires":[]},{"id":"afba69af.096e68","type":"function","z":"b3c092ec.f386c","name":"films_list","func":"msg.popular = JSON.parse(msg.payload)\nmsg.page = msg.popular.page\nmsg.arr2 = msg.popular.results\nmsg.nextFilms = msg.arr2.slice(10)\n\nmsg.element = msg.nextFilms.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.id}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              },{\n                \"type\":\"postback\",\n                \"title\":\"Додати до перегляду\",\n                \"payload\":`w${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              },\n              {\n                \"type\":\"postback\",\n                \"title\":\"Вже переглянутий\",\n                \"payload\":`l${a.id}_${a.title}_${a.poster_path}_${a.vote_average}`\n              }                \n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\":[\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ➡\",\n        \"payload\":`nextNowPlaying${msg.page}`\n      },\n      ]\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":884,"y":300,"wires":[["7f615395.5b175c"]]},{"id":"3215ee90.6bcba2","type":"link out","z":"1710a13e.24be0f","name":"profil","links":["4e2f7f5c.a2f99"],"x":1115,"y":260,"wires":[]},{"id":"4e2f7f5c.a2f99","type":"link in","z":"9b0ebb1.f61dc48","name":"profil","links":["3215ee90.6bcba2"],"x":235,"y":220,"wires":[["c5cbf27c.0a9ba"]]},{"id":"c5cbf27c.0a9ba","type":"function","z":"9b0ebb1.f61dc48","name":"profil","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Це твій кабінет🛋 В ньому зібрані фільми, які ти плануєш переглянути😁, а також ті, які вже переглянув😍 \",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Планую переглянути😁\",\n            \"payload\":\"goRevised\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Переглянуті😍\",\n            \"payload\":\"goLook\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Головне меню ↩\",\n            \"payload\":\"mainMenu\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["5483a43f.9cfadc"]]},{"id":"5483a43f.9cfadc","type":"link out","z":"9b0ebb1.f61dc48","name":"send_message","links":["f223bc38.1c8fb"],"x":555,"y":220,"wires":[]},{"id":"4411056a.70d24c","type":"switch","z":"1710a13e.24be0f","name":"","property":"postback","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"cont","v":"w","vt":"str"},{"t":"cont","v":"l","vt":"str"},{"t":"eq","v":"delete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1050,"y":840,"wires":[["39853dd3.38bd42"],["54cf4f02.28e59"],["a29c0f81.a4e8"],["9c142522.e0c788","6e62e148.46ea3"],["29579bf5.7dd124"]]},{"id":"4769cb9e.9548d4","type":"link out","z":"1710a13e.24be0f","name":"mainMenu","links":["73008930.f3bf58","640ead20.3f7794"],"x":1175,"y":940,"wires":[]},{"id":"29579bf5.7dd124","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":940,"wires":[]},{"id":"19950024.c13ba","type":"link in","z":"9b0ebb1.f61dc48","name":"revised","links":["54cf4f02.28e59"],"x":235,"y":320,"wires":[["1403a4b0.9ee84b"]]},{"id":"608a5f3c.5f583","type":"link in","z":"9b0ebb1.f61dc48","name":"look","links":["a29c0f81.a4e8"],"x":235,"y":520,"wires":[["1d329bd.b50cd64"]]},{"id":"54cf4f02.28e59","type":"link out","z":"1710a13e.24be0f","name":"revised","links":["19950024.c13ba"],"x":1255,"y":800,"wires":[]},{"id":"a29c0f81.a4e8","type":"link out","z":"1710a13e.24be0f","name":"look","links":["608a5f3c.5f583"],"x":1255,"y":840,"wires":[]},{"id":"2ef6c279.56dcee","type":"function","z":"9b0ebb1.f61dc48","name":"","func":"msg.rev = msg.payload.revised.find(a => a.filmId === msg.postback.slice(1).split(\"_\")[0])\nif(!msg.rev){\n    msg.switch_type = \"update\";\n    msg.collection = 'users';\n    let films = {\"revised\": {\n        filmId: msg.postback.slice(1).split(\"_\")[0],\n        poster_path: msg.postback.slice(1).split(\"_\")[2],\n        title: msg.postback.slice(1).split(\"_\")[1],\n        vote_average: msg.postback.slice(1).split(\"_\")[3],\n    }};\n    let bd = {recipient: msg.recipient};\n    // let newData = {revised: [filmID]}\n    msg.payload =[\n        bd,{$push: films},{ upsert:true, returnNewDocument : true }\n    ];\n}else{\n    msg.payload = {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["d10f55c4.b69928"]]},{"id":"8adf0bfb.1f3298","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","x":1070,"y":280,"wires":[["78d00338.83b5bc"]]},{"id":"1403a4b0.9ee84b","type":"function","z":"9b0ebb1.f61dc48","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[["1dd6ec04.d28b84"]]},{"id":"1dd6ec04.d28b84","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","x":550,"y":320,"wires":[["2ef6c279.56dcee"]]},{"id":"a9c2b938.e8aac8","type":"function","z":"b5c91dfd.5442f","name":"saveUser","func":"msg.switch_type = \"insert\";\nmsg.collection = 'users';\nmsg.payload = {\n    recipient: msg.recipient,\n    revised: [],\n    look: []\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":260,"wires":[["9b17db97.341b68"]]},{"id":"9b17db97.341b68","type":"subflow:6e4c635c.e9a3cc","z":"b5c91dfd.5442f","name":"","x":1000,"y":260,"wires":[["c1b0af96.113c2"]]},{"id":"8f00577c.1b58d8","type":"function","z":"b5c91dfd.5442f","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["3047c849.705548"]]},{"id":"3047c849.705548","type":"subflow:6e4c635c.e9a3cc","z":"b5c91dfd.5442f","name":"","x":510,"y":260,"wires":[["e0fbbcbf.97fc8"]]},{"id":"e0fbbcbf.97fc8","type":"switch","z":"b5c91dfd.5442f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["a9c2b938.e8aac8"],["c1b0af96.113c2"]]},{"id":"39853dd3.38bd42","type":"link out","z":"1710a13e.24be0f","name":"start","links":["d984c0b8.167f9","8440a1d4.680ea"],"x":1255,"y":760,"wires":[]},{"id":"d984c0b8.167f9","type":"link in","z":"b5c91dfd.5442f","name":"start","links":["39853dd3.38bd42"],"x":175,"y":260,"wires":[["8f00577c.1b58d8"]]},{"id":"c1b0af96.113c2","type":"link out","z":"b5c91dfd.5442f","name":"mainMenu","links":["73008930.f3bf58","640ead20.3f7794"],"x":1135,"y":260,"wires":[]},{"id":"d10f55c4.b69928","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":320,"wires":[["8adf0bfb.1f3298"],["6f2cfb6e.b116b4"]]},{"id":"fee9e085.5611","type":"function","z":"9b0ebb1.f61dc48","name":"","func":"msg.lok = msg.payload.look.find(a => a.filmId === msg.postback.slice(1).split(\"_\")[0])\nif(!msg.lok){\n    msg.switch_type = \"update\";\n    msg.collection = 'users';\n    let films = {\"look\": {\n        filmId: msg.postback.slice(1).split(\"_\")[0],\n        poster_path: msg.postback.slice(1).split(\"_\")[2],\n        title: msg.postback.slice(1).split(\"_\")[1],\n        vote_average: msg.postback.slice(1).split(\"_\")[3],\n    }};\n    let bd = {recipient: msg.recipient};\n    // let newData = {revised: [filmID]}\n    msg.payload =[\n        bd,{$push: films},{ upsert:true, returnNewDocument : true }\n    ];\n}else{\n    msg.payload = {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":520,"wires":[["4ef15e0.ad022a4"]]},{"id":"82806133.8affc","type":"debug","z":"9b0ebb1.f61dc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":1300,"wires":[]},{"id":"4a41a66d.05f1e8","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","x":1010,"y":480,"wires":[["7384c0d2.7a831"]]},{"id":"1d329bd.b50cd64","type":"function","z":"9b0ebb1.f61dc48","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":520,"wires":[["2b9e7103.fddeae"]]},{"id":"2b9e7103.fddeae","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","x":550,"y":520,"wires":[["fee9e085.5611"]]},{"id":"4ef15e0.ad022a4","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":520,"wires":[["4a41a66d.05f1e8"],["31f21948.d3dfd6"]]},{"id":"87a1434a.f9281","type":"link in","z":"9b0ebb1.f61dc48","name":"goRevised","links":["b60c4c35.5918b","fe52b374.49a65","e3d37844.0229c8"],"x":235,"y":780,"wires":[["24c6e6cd.8f057a","e74560f5.18e6f"]]},{"id":"2ca1cee6.114952","type":"link in","z":"9b0ebb1.f61dc48","name":"goLook","links":["420c234b.f06a0c","5807961a.c7dc38","9060d750.5e7618"],"x":235,"y":1180,"wires":[["b98fd1d8.543d8","b9858329.1967a"]]},{"id":"b60c4c35.5918b","type":"link out","z":"1710a13e.24be0f","name":"goRevised","links":["87a1434a.f9281"],"x":1115,"y":460,"wires":[]},{"id":"9060d750.5e7618","type":"link out","z":"1710a13e.24be0f","name":"goLook","links":["2ca1cee6.114952"],"x":1115,"y":500,"wires":[]},{"id":"24c6e6cd.8f057a","type":"function","z":"9b0ebb1.f61dc48","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":780,"wires":[["3d83e688.a3bb9a"]]},{"id":"3d83e688.a3bb9a","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","env":[],"x":550,"y":780,"wires":[["eab6856b.87f428"]]},{"id":"b98fd1d8.543d8","type":"function","z":"9b0ebb1.f61dc48","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1180,"wires":[["9663f5b0.369cd8"]]},{"id":"9663f5b0.369cd8","type":"subflow:6e4c635c.e9a3cc","z":"9b0ebb1.f61dc48","name":"","x":550,"y":1180,"wires":[["f467608.6aef7a"]]},{"id":"78d00338.83b5bc","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Фільм успішно додано!😉\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Мій кабінет 🎬\",\n            \"payload\":\"profil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":280,"wires":[["7b11c274.fd5c2c"]]},{"id":"7384c0d2.7a831","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Фільм успішно додано!😉\",\n        \"quick_replies\":[\n{\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Мій кабінет 🎬\",\n            \"payload\":\"profil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":480,"wires":[["9f976cf1.78a55"]]},{"id":"7b11c274.fd5c2c","type":"link out","z":"9b0ebb1.f61dc48","name":"","links":["f223bc38.1c8fb"],"x":1375,"y":360,"wires":[]},{"id":"9f976cf1.78a55","type":"link out","z":"9b0ebb1.f61dc48","name":"","links":["f223bc38.1c8fb"],"x":1335,"y":560,"wires":[]},{"id":"6f2cfb6e.b116b4","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuNoAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Цей фільм вже знаходиться у вашому кабінеті😎\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Мій кабінет 🎬\",\n            \"payload\":\"profil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":360,"wires":[["7b11c274.fd5c2c"]]},{"id":"31f21948.d3dfd6","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuNoAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"Цей фільм вже знаходиться у вашому кабінеті😎\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Мій кабінет 🎬\",\n            \"payload\":\"profil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":560,"wires":[["9f976cf1.78a55"]]},{"id":"22812674.24a7fa","type":"function","z":"9b0ebb1.f61dc48","name":"films_list","func":"if(msg.reply === \"prewRevised1\"){\n    msg.arr = msg.payload.revised.slice(10)\n}else{\n    msg.arr = msg.payload.revised\n}\n\nif(msg.arr.length > 10){\n    if(msg.reply === \"prewRevised1\"){\n        msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewRevised`\n        },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":\"nextRevised1\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n    }else{\n        msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":\"nextRevised\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n    }\n    msg.arr.length = 10\n}else{\n     msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      },\n      ]\n}\n\nmsg.element = msg.arr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.filmId}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\": msg.rep\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":780,"wires":[["d661e52b.b4c188"]]},{"id":"d5d5e309.be60a","type":"function","z":"b5c91dfd.5442f","name":"saveUser","func":"msg.switch_type = \"insert\";\nmsg.collection = 'films';\nmsg.payload = {\n    recipient: msg.recipient,\n    films: [{\n        filmId: \"\",\n        poster_path: \"\",\n        title: \"\",\n        vote_average:\"\"\n    }]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":320,"wires":[["4dc80280.0c9eac"]]},{"id":"4dc80280.0c9eac","type":"subflow:6e4c635c.e9a3cc","z":"b5c91dfd.5442f","name":"","x":1000,"y":320,"wires":[[]]},{"id":"6ba61fe8.0bbef","type":"function","z":"b5c91dfd.5442f","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'films';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["d0fee1ed.50dfd"]]},{"id":"d0fee1ed.50dfd","type":"subflow:6e4c635c.e9a3cc","z":"b5c91dfd.5442f","name":"","x":510,"y":320,"wires":[["c1f046f5.8fda78"]]},{"id":"c1f046f5.8fda78","type":"switch","z":"b5c91dfd.5442f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":320,"wires":[["d5d5e309.be60a"],[]]},{"id":"eab6856b.87f428","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"msg.payload.revised","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":780,"wires":[["bcbf2c86.31583"],["d584deb6.522a7"]]},{"id":"f467608.6aef7a","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"msg.payload.look","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1180,"wires":[["41e47bc1.e93f04"],["45f01577.5af72c"]]},{"id":"45f01577.5af72c","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuNoAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"У тебе тут ще не має фільмів🤷‍♂️\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":\"bakProfil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1220,"wires":[["823053f7.c55e9"]]},{"id":"d584deb6.522a7","type":"function","z":"9b0ebb1.f61dc48","name":"PreMenuNoAdd","func":"msg.payload = {\n    \"recipient\":{\n        \"id\":msg.recipient\n},\n\"messaging_type\": \"RESPONSE\",\n    \"message\": {\n        \"text\": \"У тебе тут ще не має фільмів🤷‍♂️\",\n        \"quick_replies\":[\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Популярні ✨\",\n            \"payload\":\"popular\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Рейтингові 🏆\",\n            \"payload\":\"top_rated\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Зараз дивляться 📺\",\n            \"payload\":\"now_playing\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":\"bakProfil\"\n            },\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["d661e52b.b4c188"]]},{"id":"9c142522.e0c788","type":"link out","z":"1710a13e.24be0f","name":"deletFilms","links":["ab4807af.533418"],"x":1255,"y":880,"wires":[]},{"id":"ab4807af.533418","type":"link in","z":"9b0ebb1.f61dc48","name":"deletFilms","links":["9c142522.e0c788"],"x":235,"y":1360,"wires":[["82806133.8affc"]]},{"id":"6e62e148.46ea3","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":780,"wires":[]},{"id":"bf9f01ef.0d213","type":"function","z":"e6eb5d0f.a5faf","name":"saveUser","func":"msg.switch_type = \"insert\";\nmsg.collection = 'users';\nmsg.payload = {\n    recipient: msg.recipient,\n    revised: [],\n    look: []\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":220,"wires":[["c6d008c6.af32b8"]]},{"id":"c6d008c6.af32b8","type":"subflow:6e4c635c.e9a3cc","z":"e6eb5d0f.a5faf","name":"","x":1160,"y":220,"wires":[[]]},{"id":"441c3a7b.620344","type":"function","z":"e6eb5d0f.a5faf","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {recipient: msg.recipient};\nmsg.payload = bd;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["ec3c48dd.f439d8"]]},{"id":"ec3c48dd.f439d8","type":"subflow:6e4c635c.e9a3cc","z":"e6eb5d0f.a5faf","name":"","x":670,"y":220,"wires":[["818af853.d432b8"]]},{"id":"818af853.d432b8","type":"switch","z":"e6eb5d0f.a5faf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":220,"wires":[["bf9f01ef.0d213"],[]]},{"id":"e74560f5.18e6f","type":"debug","z":"9b0ebb1.f61dc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":900,"wires":[]},{"id":"fe52b374.49a65","type":"link out","z":"1710a13e.24be0f","name":"goRevised","links":["87a1434a.f9281"],"x":1115,"y":540,"wires":[]},{"id":"bcbf2c86.31583","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"msg.reply","propertyType":"msg","rules":[{"t":"cont","v":"nextRevised","vt":"str"},{"t":"cont","v":"prewRevised","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":870,"y":720,"wires":[["6c929a7.d60a764"],["22812674.24a7fa"],["22812674.24a7fa"]]},{"id":"6c929a7.d60a764","type":"function","z":"9b0ebb1.f61dc48","name":"films_list","func":"msg.arr = msg.payload.revised\n\nif(msg.reply === \"nextRevised1\"){\n    msg.nextArr = msg.arr.slice(20)\n}else{\n    msg.nextArr = msg.arr.slice(10)\n}\n\n\nif(msg.nextArr.length > 10){\n    if(msg.reply === \"nextRevised1\"){\n        msg.rev = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewRevised1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":`nextRevised1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]}else{\n          msg.rev = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewRevised`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":`nextRevised1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n      }\n    msg.nextArr.length = 10\n}else{\n    if(msg.reply === \"nextRevised1\"){\n        msg.rev = [\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Головне меню ↩\",\n            \"payload\":\"mainMenu\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Попередні ⏮\",\n            \"payload\":`prewRevised1`\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":`bakProfil`\n          }\n          ]\n    }else{\n         msg.rev = [\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Головне меню ↩\",\n            \"payload\":\"mainMenu\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Попередні ⏮\",\n            \"payload\":`prewRevised`\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":`bakProfil`\n          }\n          ]\n    }\n}\n\nmsg.element = msg.nextArr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.filmId}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\": msg.rev\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":680,"wires":[["d661e52b.b4c188"]]},{"id":"e3d37844.0229c8","type":"link out","z":"1710a13e.24be0f","name":"goRevised","links":["87a1434a.f9281"],"x":1115,"y":580,"wires":[]},{"id":"2341e96a.a478f6","type":"function","z":"9b0ebb1.f61dc48","name":"films_list","func":"if(msg.reply === \"prewLook1\"){\n    msg.arr = msg.payload.look.slice(10)\n}else{\n    msg.arr = msg.payload.look\n}\n\nif(msg.arr.length > 10){\n    if(msg.reply === \"prewLook1\"){\n        msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewLook`\n        },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":\"nextLook1\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n    }else{\n        msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":\"nextLook\"\n      },\n      {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n    }\n    msg.arr.length = 10\n}else{\n     msg.rep = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      },\n      ]\n}\n\nmsg.element = msg.arr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.filmId}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\": msg.rep\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1120,"wires":[["823053f7.c55e9"]]},{"id":"823053f7.c55e9","type":"link out","z":"9b0ebb1.f61dc48","name":"","links":["f223bc38.1c8fb"],"x":1195,"y":1120,"wires":[]},{"id":"41e47bc1.e93f04","type":"switch","z":"9b0ebb1.f61dc48","name":"","property":"msg.reply","propertyType":"msg","rules":[{"t":"cont","v":"nextLook","vt":"str"},{"t":"cont","v":"prewLook","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":1060,"wires":[["46a4630b.99b11c"],["2341e96a.a478f6"],["2341e96a.a478f6"]]},{"id":"46a4630b.99b11c","type":"function","z":"9b0ebb1.f61dc48","name":"films_list","func":"msg.arr = msg.payload.look\n\nif(msg.reply === \"nextLook1\"){\n    msg.nextArr = msg.arr.slice(20)\n}else{\n    msg.nextArr = msg.arr.slice(10)\n}\n\n\nif(msg.nextArr.length > 10){\n    if(msg.reply === \"nextRevised1\"){\n        msg.rev = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewLook1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":`nextLoolk1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]}else{\n          msg.rev = [\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Головне меню ↩\",\n        \"payload\":\"mainMenu\"\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Попередні ⏮\",\n        \"payload\":`prewLook`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Наступні ⏭\",\n        \"payload\":`nextLook1`\n        },\n        {\n        \"content_type\":\"text\",\n        \"title\":\"Назад ⬅\",\n        \"payload\":`bakProfil`\n      }\n      ]\n      }\n    msg.nextArr.length = 10\n}else{\n    if(msg.reply === \"nextLook1\"){\n        msg.rev = [\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Головне меню ↩\",\n            \"payload\":\"mainMenu\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Попередні ⏮\",\n            \"payload\":`prewLook1`\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":`bakProfil`\n          }\n          ]\n    }else{\n         msg.rev = [\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Головне меню ↩\",\n            \"payload\":\"mainMenu\"\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Попередні ⏮\",\n            \"payload\":`prewLook`\n            },\n            {\n            \"content_type\":\"text\",\n            \"title\":\"Назад ⬅\",\n            \"payload\":`bakProfil`\n          }\n          ]\n    }\n}\n\nmsg.element = msg.nextArr.map(a=>\n    (\n        {\n            \"title\": `${a.title}`,\n            \"image_url\":`https://image.tmdb.org/t/p/w500/${a.poster_path}`,\n            \"subtitle\":`Рейтинг: ${a.vote_average}`,\n            \"buttons\":[\n              {\n                \"type\":\"web_url\",\n                \"url\":`https://www.themoviedb.org/movie/${a.filmId}`,\n                \"title\":\"Детальніше\",\n                \"webview_height_ratio\": \"tall\",\n              }\n            ]      \n        }\n    ))\n\nmsg.payload = {\n    \"recipient\":{\n    \"id\": msg.recipient\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"generic\",\n        \"image_aspect_ratio\": \"square\",\n        \"elements\": msg.element\n      }\n    },\n    \"quick_replies\": msg.rev\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1020,"wires":[["823053f7.c55e9"]]},{"id":"5807961a.c7dc38","type":"link out","z":"1710a13e.24be0f","name":"goLook","links":["2ca1cee6.114952"],"x":1115,"y":620,"wires":[]},{"id":"420c234b.f06a0c","type":"link out","z":"1710a13e.24be0f","name":"goLook","links":["2ca1cee6.114952"],"x":1115,"y":660,"wires":[]},{"id":"b9858329.1967a","type":"debug","z":"9b0ebb1.f61dc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":1100,"wires":[]},{"id":"d661e52b.b4c188","type":"link out","z":"9b0ebb1.f61dc48","name":"","links":["f223bc38.1c8fb"],"x":1215,"y":780,"wires":[]}]